extends views/default
include views/mixins

block variables
	- const title = 'COVID-19'

block content
	header
		.header
			.header__top
				.header__warning
					p COVID-19 Risk Assessment Tool is now available.
					a(href='#') Learn more
						+svg('arrow-right', 'arrow')
				nav.header__nav
					.logo.header__logo
						+svg('logo', 'logo')
					ul.header__menu
						li
							a.header__link(href='#') Products
						li
							a.header__link(href='#') Blog
						li
							a.header__link(href='#') Careers
						li
							a.header__link(href='#') Contact			
			.header__body
				.header__content
					h1.header__title.
						COVID-19 Risk 
						Assessment Tool
					p.header__text A set of solutions designed to help quickly identify coronavirus symptoms 
						|and get reliable information regarding COVID-19 concerns.
					button.btn.header__btn See how to use it
				.header__img
					img(src='img/header/header-img.png' alt="Application interface")
	main
		section.section.section_gray
			.wrapper
				.section__info
					h2.section__title How it helps people
				.row.section__row
					.row__item
						.row__img
							+svg('triage', 'help')
						h3.row__title Triage
						p The COVID-19 health risk is clearly stated at the end of the interview 
							|thanks to the five-level triage.
					.row__item
						.row__img
							+svg('recommendation', 'help')
						h3.row__title Recommendation
						p Our Medical Team has prepared detailed recommendations and advice on what to
							| do next depending on the interview results.
					.row__item
						.row__img
							+svg('local-info', 'help')
						h3.row__title Local information
						p We provide phone numbers of local health authorities so users know who to 
							|contact in an emergency.
		section.section
			.wrapper
				.section__info
					h2.section__title How to use it
					p.section__text We’ve created this tool for the benefit of both communities and individuals.
						|We believe we can prevent panic and relieve health systems by providing quick access 
						|to credible and medically correct information. No matter how you decide to use the 
						|tool, you can help many. Act now.
				.cards.section__cards
					.cards__item.cards__item_blue
						.cards__img
							+svg('embed-anywhere', 'card')
						.cards__content
							h3.cards__title.cards__title_white Embed anywhere
							p.cards__text If you are a clinic, health organization, journalist or NGO, 
								|feel free to embed the COVID-19 Risk Assessment tool on your website. 
								|Let's stop the coronavirus from spreading.
							.cards__buttons
								a.btn.cards__btn(href="#") Get embed code
								a.cards__link(href="") See the demo
									+svg('arrow-right', 'arrow')
					.cards__item
						.cards__img
							+svg('api', 'card')
						.cards__content
							h3.cards__title Use API
							p.cards__text Support the global fight against the coronavirus outbreak with 
								|your own solution. Use the COVID-19 Risk Assessment API in your own way. 
								|It is available for free, forever, so you can do your best to stop 
								|the spread of the virus.
							.cards__buttons
								a.btn.btn_border.cards__btn(href="#") Read the docs
					.cards__item.cards__item_horizontal
						.cards__content
							h3.cards__title Try and share
							p.cards__text If you are a clinic, health organization, journalist or NGO, 
								|feel free to embed the COVID-19 Risk Assessment tool on your website. 
								|Let's stop the coronavirus from spreading.
							.cards__buttons
								a.btn.btn_border.cards__btn(href="#") Go to Symptomate.com
						.cards__img
							+svg('share', 'card')
		section.section.section_gray
			.wrapper
				.section__info
					h2.section__title Why you can trust this tool
				.row
					.row__item.row__item_half
						.row__img
							+svg('who', 'trust')
						.row__text
							h3.row__title Based on reliable sources
							p We want our tool to be safe and reliable, 
								|so its logic is based on the official global information provided by the WHO.
					.row__item.row__item_half
						.row__img
							+svg('verified', 'trust')
						.row__text
							h3.row__title Verified by doctors
							p The content was meticulously implemented by Infermedica’s team of doctors. 
								|It is kept up to date with the latest WHO and CDC guidelines.
				.companies.section__companies
					h3.companies__title Companies who joined our mission
					ul.companies__list
						li.companies__item
							img(src="img/companies/global-excel.png", alt="Global Excel")
						li.companies__item
							img(src="img/companies/pzu.png", alt="PZU ZDROWIE")
						li.companies__item
							img(src="img/companies/sintomas.png", alt="DR. Sintomas")
						li.companies__item
							img(src="img/companies/dovera.png", alt="Dovera")
						li.companies__item
							img(src="img/companies/batist.png", alt="Batist Medical")
						li.companies__item
							img(src="img/companies/imc.png", alt="International Medical Center")
						li.companies__item
							img(src="img/companies/gdzie.png", alt="gdzie po lek")
						li.companies__item
							img(src="img/companies/tuzdrowie.png", alt="Tuzdrowie")