extends views/default
include views/mixins

block variables
	- const title = 'COVID-19'

block content
	header
		.header
			.header__top
				.header__warning
					p COVID-19 Risk Assessment Tool is now available.
					a(href='#') Learn more
						+svg('arrow-right', 'arrow')
				nav.header__nav
					.logo.header__logo
						+svg('logo', 'logo')
					ul.header__menu
						li
							a.header__link(href='#') Products
						li
							a.header__link(href='#') Blog
						li
							a.header__link(href='#') Careers
						li
							a.header__link(href='#') Contact			
			.header__body
				.header__content
					h1.header__title.
						COVID-19 Risk 
						Assessment Tool
					p.header__text A set of solutions designed to help quickly identify coronavirus symptoms 
						|and get reliable information regarding COVID-19 concerns.
					button.btn.header__btn See how to use it
				.header__img
					img(src='img/header/header-img.png' alt="Application interface")
	main
		section.section.section_gray
			.wrapper
				.section__info
					h2.section__title How it helps people
				.row.section__row
					.row__item
						.row__img
							+svg('triage', 'help')
						h3.row__title Triage
						p.row__text The COVID-19 health risk is clearly stated at the end of the interview 
							|thanks to the five-level triage.
					.row__item
						.row__img
							+svg('recommendation', 'help')
						h3.row__title Recommendation
						p.row__text Our Medical Team has prepared detailed recommendations and advice on what to
							| do next depending on the interview results.
					.row__item
						.row__img
							+svg('local-info', 'help')
						h3.row__title Local information
						p.row__text We provide phone numbers of local health authorities so users know who to 
							|contact in an emergency.