@import '_variables';
@import '_mixins';
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Inter, sans-serif;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

ul, ol {
	list-style-type: none;
}

img {
	max-height: 100%;
	max-width: 100%;
}

h1, h2, h3 {
	color: $title-color;
	font-family: Roboto, sans-serif;
}

.icon {
	&_arrow {
		height: 12px;
		width: 25px;
	}
	&_logo {
		height: 32px;
		width: 156px;
	}
	&_help {
		height: 96px;
		width: 96px;
	}
	&_card {
		height: 208px;
		width: 320px;

		@include _480 {
			height: 156px;
			width: 240px;
		}
	}
	&_trust {
		height: 80px;
		width: 80px;
	}
}

.btn {
	background-color: $color-blue;
	border: 1px solid transparent;
	border-radius: 30px;
	color: #fff;
	cursor: pointer;
	padding: 18px 32px;
	transition: 0.3s;

	&:hover, &:focus {
		background-color: #fff;
		border-color: $color-blue;
		color: $color-blue;
		outline: none;
	}

	&_border {
		background-color: transparent;
		border-color: $color-blue;
		color: $color-blue;

		&:hover, &:focus {
			background-color: $color-blue;
			border-color: transparent;
			color: #fff;
		}
	}
}

.header {
	color: $text-color;

	@include _768 {
		text-align: center;
	}

	&__warning {
		align-items: center;
		background-color: $color-blue-dark;
		color: #fff;
		display: flex;
		justify-content: center;
		padding: 18px;
		width: 100%;

		@include _768 {
			@include fs(14);
			flex-direction: column;
		}
	}

	&__nav {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		padding: 28px 0;
		width: 1000px;

		@include _1366 {
			width: 960px;
		}

		@include _960 {
			width: 768px;
		}


		@include _768 {
			margin: 0 0 30px 0;
			padding: 15px 30px;
			width: 100%;
		}

		@include _600 {
			flex-direction: column;
			padding: 15px;
		}
	}

	&__menu {
		@include fs(15);
		display: flex;

		&>li:not(:last-child) {
			margin-right: 45px;

			@include _600 {
				margin-right: 30px;
			}
		}

		@include _600 {
			margin-top: 15px;
		}
	}

	&__link {
		position: relative;
		&::after {
			background-color: $text-color;
			bottom: -5px;
			content: '';
			height: 1px;
			left: 0;
			position: absolute;
			transition: 0.3s;
			width: 0;
		}
		&:hover, &:focus {
			color: $color-blue-dark;
			outline: none;
			&::after {
				width: 100%;
			}
		}
	}

	&__body {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		padding: 15px 0;
		width: 1000px;

		@include _1366 {
			width: 960px;
		}

		@include _960 {
			width: 768px;
		}

		@include _768 {
			margin: 0;
			padding: 15px 30px;
			width: 100%;
		}

		@include _600 {
			padding: 15px;
		}
	}

	&__content {
		margin-right: 170px;
		min-width: 40%;

		@include _1024 {
			margin-right: 0;
		}
	}

	&__title {
		@include fs(45);
		margin: 0 0 42px;
		white-space: pre-line;

		@include _768 {
			@include fs(32);
			margin-bottom: 15px;
		}
	}

	&__text {
		@include fs(18);
		margin-bottom: 25px;

		@include _768 {
			@include fs(14);
		}
	}

	&__img {
		min-height: 500px;

		@include _1024 {
			display: none;
		}
		&>img {
			max-width: 1000px;
		}
	}
}

.wrapper {
	margin: 0 auto;
	width: 1000px;

	@include _1366 {
		width: 960px;
	}

	@include _960 {
		width: 768px;
	}

	@include _768 {
		margin: 0;
		padding: 0 30px;
		width: 100%;
	}

	@include _600 {
		padding: 0 15px;
	}
}

.section {
	@include fs(17);
	color: $text-color;
	padding: 120px 0;

	@include _768 {
		padding: 40px 0;
	}

	&_gray {
		background-color: $color-gray;
	}

	&_align_center {
		text-align: center;

		& .section__info {
			margin: 0 auto;
			width: 50%;

			@include _480 {
				width: 100%;
			}

			&>.section__text {
				margin-bottom: 42px;
			}
		}
	}

	&__info {
		margin-bottom: 60px;
		width: 60%;
		@include _768 {
			margin-bottom: 40px;
			width: 100%;
		}
	}

	&__title {
		@include fs(37);
		@include _768 {
			@include fs(28);
			text-align: center;
		}
	}

	&__text {
		margin-top: 30px;
	}

	&__companies {
		margin-top: 150px;

		@include _768 {
			margin-top: 30px;
		}
	}

	&__columns {
		margin-bottom: 70px;

		@include _768 {
			margin-bottom: 30px;
		}
	}
}

.row {
	display: flex;
	justify-content: space-between;

	@include _768 {
		align-items: center;
		flex-direction: column;
		text-align: center;
	}

	&__item {
		width: 295px;

		@include _768 {
			margin-bottom: 30px;
			width: 50%;
		}

		@include _480 {
			width: 100%;
		}

		&_half {
			display: flex;
			text-align: left;
			width: 45%;

			@include _768 {
				width: 100%;
			}

			&>.row__img {
				margin-right: 32px;
			}
		}
	}

	&__img {
		margin-bottom: 26px;
	}

	&__title {
		@include fs(22);
		margin-bottom: 19px;
	}
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&__item {
		background-color: $color-gray;
		border: 1px solid #E0E6ED;
		border-radius: 16px;
		display: flex;
		flex-direction: column;
		padding: 53px 40px;
		width: 490px;

		@include _1366 {
			width: 470px;
		}

		@include _960 {
			padding: 30px 70px;
			text-align: center;
			width: 100%;
		}

		@include _768 {
			margin: 0 0 30px 0;
			padding: 15px 30px;
		}

		@include _480 {
			padding: 15px;
		}

		&_blue {
			background-color: $color-blue-dark;
			color: #fff;

			&>.cards__img {
				&::after {
					background-color: $text-color;
				}
			}
		}

		&_horizontal {
			background-color: #fff;
			flex-direction: row;
			margin-top: 20px;
			width: 100%;

			@include _960 {
				flex-direction: column-reverse;
			}

			&>.cards__img {
				margin-left: 100px;

				&::after {
					content: none;
				}

				@include _960 {
					margin: 0 0 30px 0;
				}
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&__img {
		margin: 0 auto 46px;
		position: relative;

		&::after {
			background-color: #E0E6ED;
			bottom: 0;
			content: '';
			height: 1px;
			left: -84px;
			position: absolute;
			width: 488px;

			@include _1366 {
				left: -74px;
				width: 468px;
			}

			@include _768 {
				left: 0;
				width: 100%;
			}
		}
	}

	&__title {
		@include fs(28);
		margin-bottom: 28px;

		&_white {
			color: #fff;
		}
	}

	&__text {
		margin-bottom: 60px;
	}

	&__buttons {
		align-items: center;
		display: flex;
		margin-top: auto;

		@include _960 {
			justify-content: center;
		}

		@include _768 {
			flex-direction: column;
		}
	}

	&__btn {
		margin-right: 28px;

		@include _768 {
			margin: 0 0 15px 0;
		}
	}
}

.companies {
	&__title {
		@include fs(14);
		color: #7B8BA5;
		margin-bottom: 57px;
	}

	&__list {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		margin: -40px 0;

		@include _768 {
			text-align: center;
			margin: -20px 0;
		}
	}

	&__item {
		margin: 40px 0;
		width: 25%;

		@include _768 {
			margin: 20px 0;
			width: 50%;
		}

		@media (max-width: 374px) {
			width: 100%;
		}
	}
}

.columns {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	&__list {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		width: 25%;

		@include _600 {
			width: 48%;
		}
	}

	&__item {
		@include fs(15);
		border: 1px solid #E0E6ED;
		border-radius: 16px;
		display: inline-block;
		padding: 4px 16px 4px 36px;

		@include _480 {
			@include fs(12);
		}

		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}
}

.contribute {
	align-items: center;
	border: 1px solid #E0E6ED;
	border-radius: 16px;
	display: flex;
	justify-content: center;
	padding: 40px;

	@include _600 {
		flex-direction: column;
		text-align: center;
	}

	&__label {
		@include fs(14);
		background-color: $color-blue-dark;
		border-radius: 16px;
		color: #fff;
		margin-right: 16px;
		padding: 5px 16px;
		text-transform: uppercase;

		@include _600 {
			margin-bottom: 15px;
		}
	}

	&__link {
		color: #2174EA;
	}
}